
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Universal Styling*/

* {
box-sizing: border-box;
padding: 0;
margin: 0;
max-width: 100%;

}

/* General Element Styling*/

html {
font-size: 62.5%;
}

body {
font-size: 1.6rem;
line-height: 1.5;
background-color: #fff;
color: #403e39;
}

h1 {
    font-size: 5em;    
    font-family: Arial;
}

h2 {
    font-size: 4em;    
    font-family: Arial;
}

h3 {
    font-size: 2.5em;  
    font-family: Arial;  
}

p {
    font-family: 'Courier New';
}

button {
    background-color: red;
    
    color: white;
    padding: 2%;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: red ;
}

/*Helper Classes*/

.bgimg {
    background-size:cover;
    background-repeat: no-repeat;
}

/*Header*/
nav {
    display:flex;
    justify-content:space-around;
    position:fixed;
    top:0;
    width:100%;
    background-color: white;
}

.logo{

    width:30%;

}

.links{
    width:50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    margin-right: 3%;
}

.logo h3 {
    margin-left: 5%;
}

.links a {
    background-color:red;
    border: white solid 1px;
    text-align: center;
    color: white;
    width: 10%;
}

/* Top Section Style*/

#pizza-header {
    padding: 15%;
    background-image: url("./pizza-background.jpg");
    background-repeat: no-repeat;
    color: red;
    background-position: bottom;
}


/* 6 Images Section Styling*/

#six-images {
   display: flex;
   flex-wrap: wrap;
   
}

#six-images div {
   width: 33%;
   padding: 3%;
}

#six-images div p {
   text-align: left;
}

#six-images div button {
   text-align: left;
   background-color: red;
   color: white;
   padding: 2%;
   font-size: 1rem;
}

/* Pizza Form Styling*/

#pizza-form {
   margin-top: 10%;
   color:white;
   background-color: red;
   padding: 3%;
   margin: 8% 15%;
}

#pizza-form div {
   margin: 1%;
}

#pizza-form button {
   background-color: black;
}

.errors {
   color: black;
}

.toppings {
   margin: 0 2%;    
}